
@{
    ViewBag.Title = "Group_Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">ホーム</a><i class="fa fa-angle-right"></i>会社登録</li>
</ol>
<div class="inbox-mail">
    <div class="tab-content tab-content-in w3">
        <div class="tab-pane text-style active" id="tab1">
            <div class="inbox-right">
                    <div class="mailbox-content" id="mailbox-content">
                        <div class="mail-toolbar clearfix">

                            <table>
                                <tbody>
                                    <tr class="form-group_entry">
                                        <td>
                                            <label for="Address4" style=" font-size:11px;">グループID</label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="txtAddress4" name="txtGroupID" style="background-color:#c4dfe5d6;height:23px; width:130px;" />
                                        </td>
                                    </tr>
                                    <tr class="form-group_entry">
                                        <td>
                                            <label for="Address4" style=" font-size:11px;">グループ名</label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="txtAddress4" name="txtGroupName" style="background-color:#c4dfe5d6;height:23px; width:200px;" />
                                        </td>
                                    </tr>
                                    <tr class="form-group_entry">
                                        <td><b>グループ指定情報</b></td>
                                    </tr>
                                    <tr class="form-group_entry">
                                        <td>
                                            <label for="Address4" style=" font-size:11px;">会社指定</label>
                                        </td>
                                        <td>
                                            <select class="form-control " id="ddl1" name="RnkFlag" style="background-color:#c4dfe5d6;height:28px; width:200px;">
                                                <option></option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>

                                            </select>
                                        </td>
                                        <td>
                                            <label for="Address4" style=" font-size:11px;">ブランド</label>
                                        </td>
                                        <td>
                                            <select class="form-control " id="ddl2" name="RnkFlag" style="background-color:#c4dfe5d6;height:28px; width:200px;">
                                                <option></option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>

                                            </select>
                                        </td>
                                        <td>
                                            <label for="Address4" style=" font-size:11px;">タグ</label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" id="txt" name="txtGroupName" style="background-color:#c4dfe5d6;height:23px; width:200px;" />
                                        </td>
                                    </tr>
                                    <tr class="form-group_entry">
                                        <td></td>
                                        <td>
                                            <textarea class="form-control" id="txtarea1" style="background-color:#E5E7E9;"></textarea>
                                        </td>
                                        <td></td>
                                        <td>
                                            <textarea class="form-control" id="txtarea2" style="background-color:#E5E7E9;"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
</div>
 
    <div class="clearfix"> </div>
</div>
