
@{
    ViewBag.Title = "Inventories_list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <title>TennicOrderSystem | TENNIC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/morris.css" type="text/css" />
    <!-- Graph CSS -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <!-- //jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
    <link rel="stylesheet" href="css/order_history.css" type='text/css' />
    <!-- //lined-icons -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body STYLE="OVERFLOW:SCROLL;OVERFLOW-X:SCROLL;OVERFLOW-Y:HIDDEN;">
    <div class="tab-content tab-content-in w3 orderlist">
        <div class="tab-pane text-style active" id="tab1">


            <div class="mailbox-content">

                <!---->
                <table class="tab002">
                    <tbody>
                        <tr class="tab002tit">
                            <td class="t30">No</td>
                            <td class="t100">メーカー品番</td>
                            <td class="t250">商品名</td>
                            <td class="t70">サイズ</td>
                            <td class="t100">カラー</td>
                            <td class="t100">在庫数</td>
                            <td class="t200">ブランド</td>
                            <td class="t100">品目</td>
                            <td class="t150">JANコード</td>
                        </tr>
                        <tr class="odr1">
                            <td class="saict">1</td>
                            <td class="sailf">BAQ005</td>
                            <td class="sailf">バドミントンシューズ</td>
                            <td class="saict">22.5</td>
                            <td class="saict">レッド</td>
                            <td class="saict">5</td>
                            <td class="saict">テニック</td>
                            <td class="sair">シューズ</td>
                            <td class="sair">4914145876522</td>
                        </tr>
                        <tr class="odr1 saisinHeading">
                            <td class="saict">2</td>
                            <td class="sailf">BAQ005</td>
                            <td class="sailf">バドミントンシューズ</td>
                            <td class="saict">22.5</td>
                            <td class="saict">レッド</td>
                            <td class="saict">5</td>
                            <td class="saict">テニック</td>
                            <td class="sair">シューズ</td>
                            <td class="sair">4914145876522</td>
                        </tr>
                        <tr class="odr1">
                            <td class="saict">3</td>
                            <td class="sailf">BAQ005</td>
                            <td class="sailf">バドミントンシューズ</td>
                            <td class="saict">22.5</td>
                            <td class="saict">レッド</td>
                            <td class="saict">5</td>
                            <td class="saict">テニック</td>
                            <td class="sair">シューズ</td>
                            <td class="sair">4914145876522</td>
                        </tr>
                        <tr class="odr1 saisinHeading">
                            <td class="saict">4</td>
                            <td class="sailf">BAQ005</td>
                            <td class="sailf">バドミントンシューズ</td>
                            <td class="saict">22.5</td>
                            <td class="saict">レッド</td>
                            <td class="saict">5</td>
                            <td class="saict">テニック</td>
                            <td class="sair">シューズ</td>
                            <td class="sair">4914145876522</td>
                        </tr>
                        <tr class="odr1">
                            <td class="saict">5</td>
                            <td class="sailf">BAQ005</td>
                            <td class="sailf">バドミントンシューズ</td>
                            <td class="saict">22.5</td>
                            <td class="saict">レッド</td>
                            <td class="saict">5</td>
                            <td class="saict">テニック</td>
                            <td class="sair">シューズ</td>
                            <td class="sair">4914145876522</td>
                        </tr>
                        <tr class="odr1 saisinHeading">
                            <td class="saict">6</td>
                            <td class="sailf">BAQ005</td>
                            <td class="sailf">バドミントンシューズ</td>
                            <td class="saict">22.5</td>
                            <td class="saict">レッド</td>
                            <td class="saict">5</td>
                            <td class="saict">テニック</td>
                            <td class="sair">シューズ</td>
                            <td class="sair">4914145876522</td>
                        </tr>
                        <tr class="odr1">
                            <td class="saict">7</td>
                            <td class="sailf">BAQ005</td>
                            <td class="sailf">バドミントンシューズ</td>
                            <td class="saict">22.5</td>
                            <td class="saict">レッド</td>
                            <td class="saict">5</td>
                            <td class="saict">テニック</td>
                            <td class="sair">シューズ</td>
                            <td class="sair">4914145876522</td>
                        </tr>
                        <tr class="odr1 saisinHeading">
                            <td class="saict">8</td>
                            <td class="sailf">BAQ005</td>
                            <td class="sailf">バドミントンシューズ</td>
                            <td class="saict">22.5</td>
                            <td class="saict">レッド</td>
                            <td class="saict">5</td>
                            <td class="saict">テニック</td>
                            <td class="sair">シューズ</td>
                            <td class="sair">4914145876522</td>
                        </tr>
                        <tr class="odr1">
                            <td class="saict">9</td>
                            <td class="sailf">BAQ005</td>
                            <td class="sailf">バドミントンシューズ</td>
                            <td class="saict">22.5</td>
                            <td class="saict">レッド</td>
                            <td class="saict">5</td>
                            <td class="saict">テニック</td>
                            <td class="sair">シューズ</td>
                            <td class="sair">4914145876522</td>
                        </tr>
                        <tr class="odr1 saisinHeading">
                            <td class="saict">10</td>
                            <td class="sailf">BAQ005</td>
                            <td class="sailf">バドミントンシューズ</td>
                            <td class="saict">22.5</td>
                            <td class="saict">レッド</td>
                            <td class="saict">5</td>
                            <td class="saict">テニック</td>
                            <td class="sair">シューズ</td>
                            <td class="sair">4914145876522</td>
                        </tr>


                    </tbody>
                </table>

                <!---->
            </div>



        </div>
    </div>



    <div class="clearfix"> </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>

