
@{
    ViewBag.Title = "inventories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/order_history.css")" rel="stylesheet" type="text/css" />

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var navoffeset = $(".header-main").offset().top;
            $(window).scroll(function () {
                var scrollpos = $(window).scrollTop();
                if (scrollpos >= navoffeset) {
                    $(".header-main").addClass("fixed");
                } else {
                    $(".header-main").removeClass("fixed");
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/Inventories/BrandName_Select',
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (SP) {
                    $.each(SP, function (i, name) {
                        $("#ddlBrand").append(
                            $('<option>  </option>').val(name.BrandCD).html(name.BrandName));
                    })
                }
            });

            FillGrid();

        });
        $("#btnreset").click(function () {
            //alert('sdfsdf')
            $('input:text').val('');
            $('#txt_mitemCD').val('');
            $("#ddlBrand")[0].selectedIndex = 0; 
            return false;
        })
        
        function FillGrid() {
            $.ajax({
                type: 'POST',
                url: "../Inventories/_InventorySearch",
                dataType: 'json',
                success: function (data) {
                    FillGridtable(data);

                }
            });
        }

        function FillGridtable(data) {

          var table=  $('#tbl_inventory').DataTable(
                {
                    "dom": 'lrtip',
                  "bLengthChange": false,
                  "destroy": true,

                  "data": data,
                  "language": {
                      "emptyTable": "検索結果がありません。"
                  },
                    "columns": [
                        { "data": "No", orderable: false },
                        { "data": "MakerItemCD", orderable: false },
                        { "data": "ItemName", orderable: false },
                        { "data": "Size", orderable: false },
                        { "data": "ColorName", orderable: false },
                        { "data": "ZaikoSu", orderable: false },
                        { "data": "BrandName", orderable: false },
                        { "data": "GeneralClassName", orderable: false },
                        { "data": "JANCD", orderable: false }
                  ],
                  "columnDefs": [
                      {
                          targets: [0, 3, 4, 5, 6],
                          className: 'saict'
                      },
                      {
                          targets: [7, 8],
                          className: 'sair '
                      },
                      {
                          targets: [1, 2],
                          className: 'sailf '
                      },
                  ],
                  
                }
            )

        }
    </script>
}

<style>

    tr.odd:hover {
        background-color: yellow;
    }
    tr.even:hover {
        background-color: yellow !important;
    }
    .tab002 {
        width: 1500px !important;
    }
    .mother-grid-inner {
        display: block !important;
        background-color: #edecec !important;
    }
    .left-content {
        background-color: #edecec !important;
    }
    tr.even {
        background-color:#CCDDFF !important;
    }
    table.dataTable {
       
         border-collapse: collapse !important; 
        border-spacing: 0;
    }
    /*td.sorting_1 {
        text-align: center;
    }*/
</style>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href='@Url.Action("Index","Home")'>ホーム</a>
    <i class="fa fa-angle-right"></i>在庫照会</li>
</ol>
<div class="inbox-mail">
    <!-- tab content -->
    <div class="tab-content tab-content-in w3">
        <div class="tab-pane text-style active" id="tab1">
            <div class="inbox-right">
                検索パネル
                <div class="mailbox-content" id="mailbox-content">
                    <div class="mail-toolbar clearfix">
                        <table class="hacyuban">
                            <tbody>
                                <tr>
                                    <td class="t550">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="t100 sair">ブランド</td>
                                                    <td>
                                                        <div class="btn-group t200">
                                                        @Html.DropDownList("ddlBrand",
        new SelectList(Enumerable.Empty<SelectListItem>())," ",new { @class = "form-control t200" })
                                                            </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="t700">
                                        <table>
                                            <tbody>
                                                <tr class="sair">
                                                    <td class="t100">商品名</td>
                                                    <td>
                                                        <input type="text" id="txt_itemname" class="form-control" placeholder="">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td class="t250">&nbsp;</td>
                                    <td class="saicc"></td>
                                    <td class="t70 sair">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="t100 sair">品目</td>
                                                    <td class="t200">
                                                        <input type="text" id="txt_gclassname" class="form-control" placeholder="">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="t100">メーカー品番</td>
                                                    <td class="t230"> <textarea class="form-control" id="txt_mitemCD" rows="1"></textarea></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td><button type="button" id="btnreset" class="btn btn-warning btn-lg" style="color:#212529;background-color:#ffc107;border-color:#ffc107;font-weight:700;">↺　リセット</button></td>
                                    <td class="saict"><button type="button" id="btnsearch" onclick="_Search()" class="btn btn-secondary btn-lg" style="color:#fff;background-color:#6c757d;"><a class="fa fa-search" aria-hidden="true" style="color:#fff;"></a>　検索</button></td>
                                    <td>
                                        <div class="btn-group btn-lg">
                                        </div>
                                    </td>
                                    <td class="t70 sair"></td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <div class="tab-content tab-content-in w3 orderlist" style="overflow:scroll;overflow-x:scroll;overflow-y:hidden;width:100%;">
                            <div class="tab-pane text-style active" id="tab1">
                                <div class="mailbox-content">
                                    <!---->
                                    <table class="tab002" id="tbl_inventory" style="width:100%">
                                        <thead>
                                            <tr class="tab002tit">
                                                <td class="t30">No</td>
                                                <td class="t100">メーカー品番</td>
                                                <td class="t250">商品名</td>
                                                <td class="t70">サイズ</td>
                                                <td class="t100">カラー</td>
                                                <td class="t100">在庫数</td>
                                                <td class="t200">ブランド</td>
                                                <td class="t100">品目</td>
                                                <td class="t150">JANコード</td>
                                            </tr>
                                        </thead>
                                        <tbody class="obl">
                                        </tbody>
                                    </table>
                                    <!---->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function _Search() {
        var item_name = document.getElementById("txt_itemname").value;;
        var gclassname = document.getElementById("txt_gclassname").value;;
        var mitemcd = document.getElementById("txt_mitemCD").value;;
        var brandcd = document.getElementById("ddlBrand").value;;
        $.ajax({
            type: 'POST',
            url: "../Inventories/_InventorySearch/" + item_name + '_' + gclassname + '_' + mitemcd + '_' + brandcd,
            dataType: 'json',
            success: function (data) {
                FillGridtable(data);

            }
        });
}
</script>