.form-control{height:1.9em;}
/* orderpcom.com */
.orderpcom {
    display: table;
    width: 100%;
}

.orderpcomRow {
    display: table-row;
}

.orderpcomHeading {
     background-color: #CCDDFF;
    display: table-header-group;
}

.orderpcomCell,
.orderpcomHead {

    display: table-cell;
    padding: 3px 10px;
}

.orderpcomHeading {
     background-color: #CCDDFF;
    display: table-header-group;
    font-weight: bold;
}

.orderpcomFoot {
     background-color: #CCDDFF;
    display: table-footer-group;
    font-weight: bold;
}

.orderpcomBody {
    display: table-row-group;
}

.orderpcomCellm {
    width: 8em;
    display: table-cell;
}

.orderpcomCelln {
    width: 2em;
    line-height: 1.8em;
    display: table-cell;
    background-color: #003492;
    color: white;
    text-align: center;
    border: #979797 1px solid;
}

.orderpcomCellc {
    width: 15em;
    display: table-cell;
    border: #003492 1px solid;
    background-color: #979797;
}

.odsecul {
    list-style: none;
    padding-right: 6em;
}

.odsecul li {
    display: inline;
    padding: 2em;
}

.eigyo {
    font-size: 0.8em;
}

.orderpcomBodycom {
    font-size: 0.8em;
    line-height: 0.8em;
}

.odfloat-left {
    float: left;

}

.odfloat-right {
    float: left;
    padding-left: 10em;
}


@media screen and (max-width: 1300px) {
    .orderlist {
    font-size: 0.8em;
}
    .odbtn-group {
        float: left;
        padding: 10px;
    }

    .odbtn-groupl {
        margin-left: -10%;
    }
    

}





/* eigyo.com */
.eigyo {
    display: table;
    width: 100%;
    text-align: center;
}

.eigyoRow {
    display: table-row;
}

.eigyoRowtit {
    background-color: #003492;
    color: white;
}

.eigyoHeading {
     background-color: #CCDDFF;
    display: table-header-group;
}

.eigyoCell,
.eigyoHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}

.eigyoHeading {
     background-color: #CCDDFF;
    display: table-header-group;
    font-weight: bold;
}

.eigyoFoot {
     background-color: #CCDDFF;
    display: table-footer-group;
    font-weight: bold;
}

.eigyoBody {
    display: table-row-group;

}



/*---*/
.odtitle {
    text-align: center;
}




/* saisin.com */
.saisin {
    display: table;
    /*width: 100%;*/
}

.saisinRow {
    display: table-row;
    line-height: 3em;
    border: 1px solid #999999;
}

.saisinRow:nth-child(even) {
    background-color: #CCDDFF;
}

.saisinRow:hover{
   background-color:#fff200;
}

.saisinHeading {
     background-color: #CCDDFF;
    display: table-header-group;
}

.saisinCell,
.saisinHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}

.saisinHeading {
     background-color: #CCDDFF;
    display: table-header-group;
    font-weight: bold;
}

.saisinFoot {
     background-color: #CCDDFF;
    display: table-footer-group;
    font-weight: bold;
}

.saisinBody {
    display: table-row-group;
}

.titcolor {
    border: 1px solid #999999;
    background-color: #003492;
    color: white;
    padding: 3px 10px;
    text-align: center;
}

    .titcolor h6 {
        color: white !important;
    }

.tablebk1{  background-color: #CCDDFF;}

.saisin{margin-top: -100px}
.saict{text-align: center;}
.sailf{text-align: left;}
.sair{text-align: right;}


.t30{width: 30px;}
.t150{width: 150px;}
.t250{width: 250px;}
.t100{width: 100px;}


