.form-control {
    height: 1.9em;
}
/* orderpcom.com */
.orderpcom {
    display: table;
    width: 100%;
}

.orderpcomRow {
    display: table-row;
}

.orderpcomHeading {
    background-color: #CCDDFF;
    display: table-header-group;
}

.orderpcomCell,
.orderpcomHead {
    display: table-cell;
    padding: 3px 10px;
}

.orderpcomHeading {
    background-color: #CCDDFF;
    display: table-header-group;
    font-weight: bold;
}

.orderpcomFoot {
    background-color: #CCDDFF;
    display: table-footer-group;
    font-weight: bold;
}

.orderpcomBody {
    display: table-row-group;
}

.orderpcomCellm {
    width: 8em;
    display: table-cell;
}

.orderpcomCelln {
    width: 2em;
    line-height: 1.8em;
    display: table-cell;
    background-color: #003492;
    color: white;
    text-align: center;
    border: #979797 1px solid;
}

.orderpcomCellc {
    width: 15em;
    display: table-cell;
    border: #003492 1px solid;
    background-color: #979797;
}

.odsecul {
    list-style: none;
    padding-right: 6em;
}

    .odsecul li {
        display: inline;
        padding: 2em;
    }

.eigyo {
    font-size: 0.8em;
}

.orderpcomBodycom {
    font-size: 0.8em;
    line-height: 0.8em;
}

.odfloat-left {
    float: left;
}

.odfloat-right {
    float: left;
    padding-left: 10em;
}


@media screen and (max-width: 1300px) {
    .orderlist {
        font-size: 0.8em;
    }

    .odbtn-group {
        float: left;
        padding: 10px;
    }

    .odbtn-groupl {
        margin-left: -10%;
    }
}





/* eigyo.com */
.eigyo {
    display: table;
    width: 100%;
    text-align: center;
}

.eigyoRow {
    display: table-row;
}

.eigyoRowtit {
    background-color: #003492;
    color: white;
}

.eigyoHeading {
    background-color: #CCDDFF;
    display: table-header-group;
}

.eigyoCell,
.eigyoHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}

.eigyoHeading {
    background-color: #CCDDFF;
    display: table-header-group;
    font-weight: bold;
}

.eigyoFoot {
    background-color: #CCDDFF;
    display: table-footer-group;
    font-weight: bold;
}

.eigyoBody {
    display: table-row-group;
}



/*---*/
.odtitle {
    text-align: center;
}

.saisinFoot {
    background-color: #CCDDFF;
    display: table-footer-group;
    font-weight: bold;
}

.saisinBody {
    display: table-row-group;
}

.titcolor {
    background-color: #003492;
    color: white;
}

    .titcolor h6 {
        color: white !important;
    }

.tablebk1 {
    background-color: #CCDDFF;
}

/* saisin.com */
.saisin {
    display: table;
    width: 100%;
}

.saisinRow {
    display: table-row;
    line-height: 3em;
}

    .saisinRow:hover {
        background-color: #fff200;
    }

.saisinCell,
.saisinHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}




/* order input*/
.odrinfo{font-weight:bold;}
.tab001{font-size: 0.8em;width: 100%;}
.tab002{width: 100%;}
.tab002 td{ border: 1px solid #999999;padding: 5px;}
.tab002tit{background-color: #003492;color: white;text-align: center;}
.btn{font-size: 0.8em;}
.t30{width: 30px;}
.t50{width: 50px;}
.t60{width: 60px;}
.t70{width: 70px;}
.t80{width: 80px;}
.t100{width: 100px;}
.t150{width: 150px;}
.t200{width: 200px;}
.t230{width: 230px;}
.t250{width: 250px;}
.t300{width: 300px;}
.t350{width: 350px;}
.t380{width: 380px;}
.t400{width: 400px;}
.t450{width: 450px;}
.t500{width: 500px;}
.t1000{width: 1000px;}
.t1500{width: 1500px;}
.t2000{width: 2000px;}
.t20p{width: 20%;}
.t30p{width: 30%;}
.textri{text-align: right;padding-right: 5px;}
.fori{float:right;}
.btnod{width: 140px;}
.saisin {
    margin-top: -100px
}
.saict{text-align: center;}
.sailf{text-align: left;}
.sair{text-align: right;}
.saitop{vertical-align:text-top;}
.odr1:hover{
   background-color:#fff200;
}
.odr2:hover{
   background-color:#fff200;
}
.odr3:hover{
   background-color:#fff200;
}
.odr4:hover{
   background-color:#fff200;
}
.odr5:hover{
   background-color:#fff200;
}
.odr6:hover{
   background-color:#fff200;
}
.odr7:hover{
   background-color:#fff200;
}
.odr8:hover{
   background-color:#fff200;
}
.odr9:hover{
   background-color:#fff200;
}
.odr10:hover{
   background-color:#fff200;
}
.odr11:hover{
   background-color:#fff200;
}
.odr12:hover{
   background-color:#003492;
}
.saisinHeading {
     background-color: #CCDDFF;
}
.hrfg{border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));width: 80%;}
@media screen and (max-width: 1300px) {
    .t30{width: 30px;}
.t70{width: 70px;}
.t100{width: 100px;}
.t150{width: 100px;}
.t200{width: 120px;}
.t250{width: 150px;}
.t300{width: 160px;}
.t350{width: 170px;}
.t380{width: 180px;}
.t400{width: 190px;}
.t450{width: 250px;}
.btnod{width: 90px;}
}
