<button type="button" id="btn_cancle1" data-toggle="modal" data-target="#myModalSuccess" class="btn btn-dark">✖&nbsp;発注キャンセル</button>
<button type="button" id="btn_cancle2" data-toggle="modal" data-target="#myModalInfo" class="btn btn-dark">✖&nbsp;発注キャンセル</button>
<!-- Modal -->

<div class="modal fade" id="myModalSuccess" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <img src="~/images/SuccessImg.jpg" style="width:26px;height:26px;" />   <h4 class="modal-title" style="color:forestgreen;"> </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="color:white;background-color:forestgreen;">閉じる</button>

            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="myModalInfo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <img src="~/images/info.jpg" style="width:26px;height:26px;" /> <h4 class="modal-title" style="color:#003492;"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="color:white;background-color:#003492;">閉じる</button>

            </div>
        </div>

    </div>
</div>

<style>
    .modal-header img {
        display: inline-block;
    }

    .modal-header h4 {
        display: inline-block
    }
</style>
<script>
    $("#btn_cancle1").hide();
    $("#btn_cancle2").hide();
    function Successmessage(t, k, m) {
        //var result = "";
        $.ajax({
            type: 'POST',
            url: "../Order/OrderHistoryMessage/" + t + '_' + k + '_' + m,
            dataType: 'json',
            success: function (data) {

                $('.modal-title').text(data);

                $("#btn_cancle1").click();

            }
        });

    }


    function Infomessage(t, k, m) {
        $.ajax({
            type: 'POST',
            url: "../Order/OrderHistoryMessage/" + t + '_' + k + '_' + m,
            dataType: 'json',
            success: function (data) {
                $('.modal-title').text(data);

                $("#btn_cancle2").click();

            }
        });
    }


</script>