
@{

    ViewBag.Title = "Order_Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TOS_Model.M_JobTimeableModel mj = new TOS_Model.M_JobTimeableModel();
    TOS_Model.M_CompanyShippingModel mcs = new TOS_Model.M_CompanyShippingModel();
    if (ViewData["JobTime"] != null)
    {
        mj = ViewData["JobTime"] as TOS_Model.M_JobTimeableModel;

    }
    if (ViewData["ShippingName"] != null)
    {
        mcs = ViewData["ShippingName"] as TOS_Model.M_CompanyShippingModel;
    }

}

@section Styles {
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Content/manager-style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Content/morris.css" type="text/css" />
    <!-- Graph CSS -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <!-- //jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/Content/icon-font.min.css" type='text/css' />
    @*<link rel="stylesheet" href="~/Content/order_portal.css" type='text/css' />*@
    <link rel="stylesheet" href="~/Content/order_input.css" type='text/css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/Order/ShippingName_Select', // get mall
                type: "GET",
                dataType: "JSON",
                dataSrc: '',
                success: function (SP) {
                    $.each(SP, function (i, name) {
                        $("#ddlShippingName").append(
                            $('<option></option>').val(name.ShippingID).html(name.ShippingName));
                    });
                }
            });
        });

        $("#btnreset").click(function () {
            alert("reset");
            $('.tab001').find('input: Text').val('');
        });
    </script>
}
<!--heder end here-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">ホーム</a><i class="fa fa-angle-right"></i>発注入力</li>
</ol>
<div class="inbox-mail">

    <!-- tab content -->
    <div class="tab-content tab-content-in w3">
        <div class="tab-pane text-style active" id="tab1">
            <div class="inbox-right">

                <div class="mailbox-content" id="mailbox-content">
                    <div class="mail-toolbar clearfix">
                        <div class="odfloat-left">

                            <div class="orderpcom">
                                <div class="orderpcomBody">
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCellm">メーカー品番</div>
                                        <div class="orderpcomCelln">1</div>
                                        <div class="orderpcomCellc"> <input type="text" class="form-control" placeholder="品番入力"></div>
                                        <div class="orderpcomCelln">2</div>
                                        <div class="orderpcomCellc"> <input type="text" class="form-control" placeholder="品番入力"></div>
                                    </div>
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCellm"></div>
                                        <div class="orderpcomCelln">3</div>
                                        <div class="orderpcomCellc"> <input type="text" class="form-control" placeholder="品番入力"></div>
                                        <div class="orderpcomCelln">4</div>
                                        <div class="orderpcomCellc"> <input type="text" class="form-control" placeholder="品番入力"></div>
                                    </div>
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCellm"></div>
                                        <div class="orderpcomCelln">5</div>
                                        <div class="orderpcomCellc"> <input type="text" class="form-control" placeholder="品番入力"></div>
                                        <div class="orderpcomCelln">6</div>
                                        <div class="orderpcomCellc"> <input type="text" class="form-control" placeholder="品番入力"></div>
                                    </div>
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCellm"></div>
                                        <div class="orderpcomCelln">7</div>
                                        <div class="orderpcomCellc"> <input type="text" class="form-control" placeholder="品番入力"></div>
                                        <div class="orderpcomCelln">8</div>
                                        <div class="orderpcomCellc"> <input type="text" class="form-control" placeholder="品番入力"></div>

                                    </div>
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>

                                    </div>
                                    <div class="orderpcomRow">
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell"></div>
                                        <div class="orderpcomCell">
                                            <div class="orderpcomCell">
                                                <div class="orderpcomCell"><button type="button" 　onclick="odFunction()" class="odsec btn btn-success"><i class="fa fa-search" aria-hidden="true"></i>&nbsp;検索</button></div><div class="orderpcomCell"><button type="button" class="odsec btn btn-warning">↺&nbsp;リセット</button></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- orderpcom.com -->

                        </div>
                        <div class="odfloat-right">


                            <div class="odbtn-group odbtn-groupl">
                                <div class="orderpcom">
                                    <div class="orderpcomBodycom">
                                        <div class="orderpcomRow">
                                            <div class="orderpcomCell">株式会社テニック</div>
                                            <div class="orderpcomCell"></div>
                                        </div>
                                        <div class="orderpcomRow">
                                            <div class="orderpcomCell">大阪本社</div>
                                            <div class="orderpcomCell">東京営業所</div>
                                        </div>
                                        <div class="orderpcomRow">
                                            <div class="orderpcomCell">〒530-0043 北区天満2-13-8</div>
                                            <div class="orderpcomCell">〒108-0073 港区三田4-1-4</div>
                                        </div>
                                        <div class="orderpcomRow">
                                            <div class="orderpcomCell">TEL：06-6358-5031</div>
                                            <div class="orderpcomCell">TEL：03-5439-6250</div>
                                        </div>
                                        <div class="orderpcomRow">
                                            <div class="orderpcomCell">FAX：06-6358-9210</div>
                                            <div class="orderpcomCell">FAX：03-5439-6251</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="odbtn-group">
                                <div class="eigyo eigyoRowtit"><span>利用可能時間</span></div>
                                <div class="eigyo">
                                    <div class="eigyoBody">
                                        <div class="eigyoRow">

                                        </div>
                                        <div class="eigyoRow eigyoRowtit">
                                            <div class="eigyoCell">業務</div>
                                            <div class="eigyoCell ">弊社営業時間</div>
                                        </div>

                                        <div class="eigyoRow">
                                            <div class="eigyoCell">照会発注</div>
                                            <div class="eigyoCell">@mj.OrderAblePeriod</div>
                                        </div>
                                        <div class="eigyoRow">
                                            <div class="eigyoCell">発注取消</div>
                                            <div class="eigyoCell">@mj.CancelAblePeriod</div>
                                        </div>
                                        <div class="eigyoRow">
                                            <div class="eigyoCell">上記以外</div>
                                            <div class="eigyoCell saict">@mj.ExceptionAboutPeriod</div>
                                        </div>


                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>

                </div><!--<div class="odminiblock"><button onclick="odFunction()"  id="btnb" type="button" class="btn btn-secondary">ブロック最小化</button></div>-->
            </div>
        </div>


    </div>

</div>
<!-- script-for sticky-nav -->

<script>
    function odFunction() {
        var x = document.getElementById("mailbox-content");
        if (x.style.display === "block") {
            x.style.display = "none";

        } else {
            x.style.display = "block";
        }
    }
    $("#btnb").click(function () {
        $(this).text() === 'ブロック最小化'
            ? $(this).text('ブロック最小化')
            : $(this).text('ブロック表示')
    })
</script>



<div class="tab-content tab-content-in w3 orderlist">
    <div class="tab-pane text-style active" id="tab1">
        <div class="inbox-right">

            <!-- tab content -->
            @*<object data="order_input_table.html" width="100%" height="1200px" type="text/html">
                    Alternative Content
                </object>*@

            <table class="tab001">
                <tbody>
                    <tr>
                        <td class="t20p">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="t70">出荷先名</td>
                                        <td>
                                            @*<div class="btn-group t200">*@
                                            @*<button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle t200" data-toggle="dropdown" type="button">ラケット</button>*@
                                            @*<div class="dropdown-menu t200">*@
                                            @*@Html.DropDownList("ddlShippingName", new SelectList(Enumerable.Empty<SelectListItem>()), "")*@
                                            @Html.DropDownList("ddlShippingName",
                          new SelectList(Enumerable.Empty<SelectListItem>()), "選択",
                          new { @class = "form-control input-sm ",width = "150px" })

                                            @*</div>*@
                                            @*</div>*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="t70 textri">郵便番号</td>
                                        <td class="t100"><input class="form-control" type="text" /></td>
                                        <td class="t30"></td>
                                        <td class="t70 textri">電話番号</td>
                                        <td class="t200"><input class="form-control" type="text" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="t150 textri"></td>
                                        <td class="t70 textri">
                                            <div class="textri"><button type="button" class="btn btn-success btnod">✚&nbsp;金額計算</button></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="t20p">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="t70">発送先名</td>
                                        <td>
                                            <div class="btn-group t200">
                                                @*<input class="form-control" type="add" />*@
                                                <input class="form-control" type="text" />
                                                @*<button aria-expanded="false" aria-haspopup="true" class="btn btn-info dropdown-toggle t200" data-toggle="dropdown" type="button">キャピタル</button>
                                                    <div class="dropdown-menu t200">
                                                        <a class="dropdown-item" href="#">キャピタル</a> <a class="dropdown-item" href="#">BCT</a> <a class="dropdown-item" href="#">ACT</a>

                                                    </div>*@
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="t30p">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="t70 textri">住所1</td>
                                        <td class="t400"><input class="form-control" type="text" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="t20p">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="t100 textri">出荷可能日</td>
                                        <td><input class="form-control t350" type="text" disabled /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="t20p">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="t150 textri"><button ID="btnreset" type="reset" class="btn btn-warning btnod">↺&nbsp;リセット</button></td>
                                        <td class="t100 textri"><button type="button" class="btn btn-danger btnod">▶&nbsp;発注</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="t20p">&nbsp;</td>
                        <td class="t30p">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="t70 textri">住所2</td>
                                        <td class="t400"><input class="form-control" type="text" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="t20p">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="t100 textri">発注合計金額</td>
                                        <td><input class="form-control" type="text" disabled /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="t20p">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="t20p textri">摘要</td>
                                        <td class="t230"> <textarea class="form-control" id="txtarea" rows="1"></textarea></td>
                                        <script>

                                            function expandTextarea(id) {
                                                document.getElementById(id).addEventListener('keyup', function () {
                                                    this.style.overflow = 'hidden';
                                                    this.style.height = 0;
                                                    this.style.height = this.scrollHeight + 'px';
                                                }, false);
                                            }

                                            expandTextarea('txtarea');
                                        </script>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <!------>
            <table class="tab002">
                <tbody>
                    <tr class="tab002tit">
                        <td class="t100">詳細表示</td>

                        <td class="t100">メーカー番号</td>
                        <td class="t300">商品名</td>
                        <td class="t100">ブランド</td>
                        <td class="t100">上代</td>
                        <td class="t100">下代</td>
                        <td class="t100">ロット</td>
                        <td class="t200">摘要</td>
                    </tr>
                    <tr>
                        <td class="saict">
                            <div class="ISHide"><a href="#clearfix" class="hideLink">非表示</a></div>
                        </td>

                        <td class="sailf t100">BAQ005</td>
                        <td class="sailf t300">バドミントンシューズ/メンズ（AYTK087）</td>
                        <td class="saict t100">テニック</td>
                        <td class="sair t100">￥7,400</td>
                        <td class="sair t100">￥6,400</td>
                        <td class="saict t100">1</td>
                        <td class="saict t200"><input class="form-control" type="tel" /></td>
                    </tr>


                </tbody>
            </table>





            <script>

                $(".hideLink").on("click", function () {
                    if ($(this).text() == "非表示") {
                        $(this).text("表示");
                    } else {
                        $(this).text("非表示");
                    }
                    $(".ISProductBody").toggle();

                    return false;
                });

            </script>
            <div class="inbox-mail ISProductBody">

                <!-- tab content -->
                @*<object data="order_input_info.html" width="100%" height="350px" type="text/html">
                        Alternative Content
                    </object>*@
                <div class="tab-content tab-content-in w3 orderlist">
                    <div class="tab-pane text-style active" id="tab1">


                        <div class="mailbox-content">

                            <table class="">
                                <tbody>
                                    <tr>
                                        <td class="saitop"><img src="~/images/hed-571614-12-1.jpg" alt="Smiley face" height="30%" width="auto"></td>
                                        <td>
                                            <table class="tab002 t2000">
                                                <tbody>

                                                    <tr class="odrinfo">
                                                        <td class="t300 saict tab002tit ">摘要</td>
                                                        <td class="t200 tab002tit saict">サイズｘカラー</td>
                                                        <td class="t70 saict">22.5</td>
                                                        <td class="t70 saict">23</td>
                                                        <td class="t70 saict">23.5</td>
                                                        <td class="t70 saict">24</td>
                                                        <td class="t70 saict">24.5</td>
                                                        <td class="t70 saict">25</td>
                                                        <td class="t70 saict">25.5</td>
                                                        <td class="t70 saict">26</td>
                                                        <td class="t70 saict">26.5</td>
                                                        <td class="t70 saict">27</td>
                                                        <td class="t70 saict">27.5</td>
                                                        <td class="t70 saict">28</td>
                                                        <td class="t70 saict">28.5</td>
                                                        <td class="t70 saict">29</td>
                                                        <td class="t70 saict">5H</td>
                                                        <td class="t70 saict">9</td>
                                                        <td class="t70 saict">&nbsp;</td>
                                                        <td class="t70 saict">&nbsp;</td>
                                                        <td class="t70 saict">&nbsp;</td>
                                                        <td class="t70 saict">&nbsp;</td>
                                                        <td class="t70 saict">&nbsp;</td>
                                                        <td class="t70 saict">&nbsp;</td>
                                                        <td class="t70 saict">&nbsp;</td>
                                                        <td class="t70 saict">&nbsp;</td>
                                                    </tr>
                                                    <tr class="saisinHeading odrinfo">
                                                        <td class="t300"><input class="form-control" type="tel" value="Aさんの分" /></td>
                                                        <td class="t200 saict">レッド</td>
                                                        <td class="saict">11</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">1</td>
                                                        <td class="saict">2</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">1</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict">3</td>
                                                        <td class="saict">2</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="t300 saict tab002tit">摘要</td>
                                                        <td class="t200 tab002tit saict">発注数</td>
                                                        <td class="odr6 "><input class="form-control sair" type="tel" value="11" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="1" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="2" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="1" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="3" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="2" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                    </tr>
                                                    <tr class="saisinHeading odrinfo">
                                                        <td class="t300"><input class="form-control" type="tel" value="Bさんの分" /></td>
                                                        <td class="t200 saict">オレンジ</td>
                                                        <td class="saict">11</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">1</td>
                                                        <td class="saict">2</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">1</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict">3</td>
                                                        <td class="saict">2</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="t300 saict tab002tit">摘要</td>
                                                        <td class="t200 tab002tit saict">発注数</td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="11" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="1" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="2" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="1" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="3" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="2" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                    </tr>
                                                    <tr class="saisinHeading odrinfo">
                                                        <td class="t300"><input class="form-control" type="tel" /></td>
                                                        <td class="t200 saict">ブラック</td>
                                                        <td class="saict">11</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">1</td>
                                                        <td class="saict">2</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">1</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict">3</td>
                                                        <td class="saict">2</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="t300 saict tab002tit">摘要</td>
                                                        <td class="t200 tab002tit saict">発注数</td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="11" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="1" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="2" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="1" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="3" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="2" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                    </tr>
                                                    <tr class="saisinHeading odrinfo">
                                                        <td class="t300"><input class="form-control" type="tel" /></td>
                                                        <td class="t200 saict">グレー</td>
                                                        <td class="saict">11</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">1</td>
                                                        <td class="saict">2</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">1</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict">3</td>
                                                        <td class="saict">2</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="t300 saict tab002tit">摘要</td>
                                                        <td class="t200 tab002tit saict">発注数</td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="11" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="1" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="2" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="1" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="3" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="2" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                    </tr>
                                                    <tr class="saisinHeading odrinfo">
                                                        <td class="t300"><input class="form-control" type="tel" /></td>
                                                        <td class="t200 saict">ピンク</td>
                                                        <td class="saict">11</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">1</td>
                                                        <td class="saict">2</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">1</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict">3</td>
                                                        <td class="saict">2</td>
                                                        <td class="saict">0</td>
                                                        <td class="saict">5</td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                        <td class="saict"></td>
                                                    </tr>
                                                    <tr class="">
                                                        <td class="t300 saict tab002tit">摘要</td>
                                                        <td class="t200 tab002tit saict">発注数</td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="11" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="1" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="2" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="1" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="3" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="2" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="0" /></td>
                                                        <td class="odr6"><input class="form-control sair" type="tel" value="5" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                        <td><input class="form-control sair" type="tel" /></td>
                                                    </tr>

                                                </tbody>
                                            </table>


                                            <!----->
                                            <!------>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>



                        </div>



                    </div>
                </div>



                <div class="clearfix"> </div>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



            </div>
            <!------>
            <!------>
            <table class="tab002">
                <tbody>
                    <tr class="tab002tit">
                        <td class="t100">詳細表示</td>

                        <td class="t100">メーカー番号</td>
                        <td class="t300">商品名</td>
                        <td class="t100">ブランド</td>
                        <td class="t100">上代</td>
                        <td class="t100">下代</td>
                        <td class="t100">ロット</td>
                        <td class="t200">摘要</td>
                    </tr>
                    <tr>
                        <td class="saict">
                            <div class="ISHide"><a href="#clearfix" class="hideLinka">非表示</a></div>
                        </td>

                        <td class="sailf t100">AAA005</td>
                        <td class="sailf t300">クエークバスター/（KVI205）</td>
                        <td class="saict t100">テニック</td>
                        <td class="sair t100">￥8,400</td>
                        <td class="sair t100">￥9,400</td>
                        <td class="saict t100">2</td>
                        <td class="saict t200"><input class="form-control" type="tel" /></td>
                    </tr>


                </tbody>
            </table>





            <script>

                $(".hideLinka").on("click", function () {
                    if ($(this).text() == "非表示") {
                        $(this).text("表示");
                    } else {
                        $(this).text("非表示");
                    }
                    $(".ISProductBodya").toggle();

                    return false;
                });

            </script>
            <div class="inbox-mail ISProductBodya">

                <!-- tab content -->
                <object data="order_input_infoa.html" width="100%" height="350px" type="text/html">
                    Alternative Content
                </object>



            </div>



        </div>
    </div>
</div>
