@using System.Data;
@model DataTable
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
@section Styles
{
    <link href="@Url.Content("~/Scripts/jquery-2.1.4.min.j")" rel="stylesheet" type="text/javascript" />
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../Home/Index">ホーム></a><i class="fa fa-angle-right"></i>お知らせ情報</li>
</ol>

<style>
    table.dataTable.no-footer {
        border-bottom: none !important;
    }
    .fa{
        font-size:larger;
    }
</style>
<div class="inbox-mail">

    <!-- tab content -->
    <div class="tab-content tab-content-in w3">
        <div class="tab-pane text-style active" id="tab1">
            <div class="inbox-right">

                <div class="mailbox-content">
                    <div class="mail-toolbar clearfix">
                        <div class="float-left">
                            <h1>お知らせ情報</h1>
                        </div>
                    </div>
                    <table class="table" id="tbinformation" style="width:100%;border-collapse:collapse;">
                        <thead style="display:none;">
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <div class="clearfix"> </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#tbinformation').DataTable(
                {
                    order: [[0, 'desc']],
                    "createdRow": function (row, data, dataIndex) {
                        $(row).addClass("table-row");
                    },
                    columnDefs: [
                        {
                            targets: [0, 1],
                            className: 'table-text',
                        }],
                    "dom": 'lrtip',
                    "bLengthChange": false,
                    "aLengthMenu": [20],
                    "ajax": {
                        "url": "../Home/Get_T_Information",
                        "type": "GET",
                        "datatype": "json",
                        "dataSrc": ""
                    },
                    "columns": [

                        {
                            "data": "Date", "render": function (data, type, row) {
                                return '<h6>' + row.Date + '</h6>';

                            },
                        },
                        {
                            "data": "TitleName", "render": function (data, type, row) {
                                return '<h6><a href="../Home/product_details/' + row.InformationID + '">' + row.TitleName + '</a></h6>';

                            },
                        },
                        {
                            "data": "InformationType", "render": function (data, type, row) {
                                return '<span style="display:block;width:80px;height:25px;text-align:center" class =  ' + row.InfoClass + '>' + row.InfoText + '</span>';
                            },
                        },
                        {
                            "data": "",
                            "render": function (data, type, row) {
                                return '<h6><a href="../Home/product_details/' + row.InformationID + '"><i class="fa fa-external-link icon-state-warning"></i></a></h6>';
                            },
                        },
                    ],
                }
            );
        });


    </script>
}


