@using System.Data;
@model DataTable
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
@*@section Styles
{
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")" type='text/css' />
}*@

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">ホーム</a><i class="fa fa-angle-right"></i>お知らせ情報</li>
</ol>
<div class="inbox-mail">

    <!-- tab content -->
    <div class="tab-content tab-content-in w3">
        <div class="tab-pane text-style active" id="tab1">
            <div class="inbox-right">

                <div class="mailbox-content">
                    <div class="mail-toolbar clearfix">
                        <div class="float-left">
                            <h1>お知らせ情報</h1>


                        </div>
                        <div class="float-right">


                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-angle-left"></i></a>
                                <a class="btn btn-default"><i class="fa fa-angle-right"></i></a>
                            </div>


                        </div>

                    </div>
                    <table class="table">

                        <tbody>
                            @foreach (DataRow r in Model.Rows)
                            {
                            <tr class="table-row">
                                <td class="table-text"><h6>@r["Date"].ToString()</h6></td>
                                <td class="table-text"><h6><a href="product_details.html">@r["TitleName"].ToString()</a></h6></td>
                                <td><span>@r["InformationType"].ToString()</span></td>
                                <td><a href="product_details.html"><a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a></a></td>
                            </tr>
                            }
                        </tbody>




                        @*<tr class="table-row">
                                <td class="table-text">
                                    <h6>2019年12月22日</h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html">ハンドポールイージーオーダーシステム商品詳細16について</a></h6>
                                </td>
                                <td></td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a></a>
                                </td>
                            </tr>*@


                        @*<tr class="table-row">
                                <td class="table-text">
                                    <h6></h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html"></a></h6>
                                </td>
                                <td>
                                    <span class="fam"></span>
                                </td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a></a>
                                </td>
                            </tr>*@

                        @*<tr class="table-row">
                                <td class="table-text">
                                    <h6>2019年11月15日</h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html">ハンドポールイージーオーダーシステム商品詳細15について</a></h6>
                                </td>
                                <td>
                                    <span class="fam">商品情報</span>
                                </td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-text">
                                    <h6>2019年10月10日</h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html">ハンドポールイージーオーダーシステム商品詳細14について</a></h6>
                                </td>
                                <td>
                                    <span class="mar">重要</span>
                                </td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-text">
                                    <h6>2019年9月23日</h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html">ハンドポールイージーオーダーシステム商品詳細13について</a></h6>
                                </td>
                                <td>
                                    <span class="work">新発売</span>
                                </td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-text">
                                    <h6>2019年8月10日</h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html">ハンドポールイージーオーダーシステム商品詳細12について</a></h6>
                                </td>
                                <td>
                                    <span class="mar">重要</span>
                                </td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-text">
                                    <h6>2019年9月11日</h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html">ハンドポールイージーオーダーシステム商品詳細11について</a></h6>
                                </td>
                                <td>
                                    <span class="fam">商品情報</span>
                                </td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-text">
                                    <h6>2019年8月10日</h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html">ハンドポールイージーオーダーシステム商品詳細10について</a></h6>
                                </td>
                                <td>
                                    <span class="mar">重要</span>
                                </td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-text">
                                    <h6>2019年7月7日</h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html">ハンドポールイージーオーダーシステム商品詳細9について</a></h6>
                                </td>
                                <td>
                                    <span class="work">新発売</span>
                                </td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-text">
                                    <h6>2019年6月26日</h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html">ハンドポールイージーオーダーシステム商品詳細8について</a></h6>
                                </td>
                                <td>
                                    <span class="fam">商品情報</span>
                                </td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-text">
                                    <h6>2019年5月20日</h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html">ハンドポールイージーオーダーシステム商品詳細7について</a></h6>
                                </td>
                                <td></td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-text">
                                    <h6>2019年4月5日</h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html">ハンドポールイージーオーダーシステム商品詳細6について</a></h6>
                                </td>
                                <td>
                                    <span class="fam">商品情報</span>
                                </td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-text">
                                    <h6>2019年3月10日</h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html">ハンドポールイージーオーダーシステム商品詳細5について</a></h6>
                                </td>
                                <td>
                                    <span class="mar">重要</span>
                                </td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-text">
                                    <h6>2019年2月15日</h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html">ハンドポールイージーオーダーシステム商品詳細4について</a></h6>
                                </td>
                                <td>
                                    <span class="work">新発売</span>
                                </td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-text">
                                    <h6>2019年1月2日</h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html">ハンドポールイージーオーダーシステム商品詳細3について</a></h6>
                                </td>
                                <td>
                                    <span class="fam">商品情報</span>
                                </td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-text">
                                    <h6>2018年12月25日</h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html">ハンドポールイージーオーダーシステム商品詳細2について</a></h6>
                                </td>
                                <td></td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a>
                                </td>
                            </tr>
                            <tr class="table-row">
                                <td class="table-text">
                                    <h6>2018年10月1日</h6>
                                </td>
                                <td class="table-text">
                                    <h6><a href="product_details.html">ハンドポールイージーオーダーシステム商品詳細1について</a></h6>
                                </td>
                                <td>
                                    <span class="fam">商品情報</span>
                                </td>
                                <td class="march"></td>
                                <td>
                                    <a href="product_details.html"><i class="fa fa-external-link icon-state-warning"></i></a>
                                </td>
                            </tr>*@
                        @*</tbody>*@
                    </table>
                </div>
            </div>
        </div>


    </div>
    <div class="clearfix"> </div>
</div>


