
@{
    ViewBag.Title = "product_details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">ホーム</a><i class="fa fa-angle-right"></i>お知らせ情報<i class="fa fa-angle-right"></i>ハンドポールイージーオーダーシステム商品詳細16について</li>
</ol>
<div class="inbox-mail">

    <!-- tab content -->
    <div class="tab-content tab-content-in w3">
        <div class="tab-pane text-style active" id="tab1">
            <div class="inbox-right">

                <div class="mailbox-content">
                    <div class="mail-toolbar clearfix">
                        <div class="float-left">
                            <h5>2019/12/22</h5> <h3>ハンドポールイージーオーダーシステム商品詳細16について</h3>


                        </div>
                        <div class="float-right">


                            <div class="btn-group">
                                <a class="btn btn-default"><i class="fa fa-angle-left"></i></a>
                                <a class="btn btn-default"><i class="fa fa-angle-right"></i></a>
                            </div>


                        </div>

                    </div>
                    <table class="table">
                        <p><span>添付ファイル：</span><button type="button" class="btn btn-outline-secondary">新規商品一覧.pdf&nbsp;&nbsp;▼</button><button type="button" class="btn btn-outline-secondary">ブランド一覧.pdf&nbsp;&nbsp;▼</button><button type="button" class="btn btn-outline-secondary">出荷先一覧.pdf&nbsp;&nbsp;▼</button><button type="button" class="btn btn-outline-secondary">値段一覧.pdf&nbsp;&nbsp;▼</button></p>
                        <hr>
                        <p>競馬
                        <p>

                        <p>うちの息子も1年生。さっそく、学校で「初テスト」を受けてきたらしい。</p>

                        <p>問「おさかなは1ぴき2ひき、とりは1わ２わと数えます。ではウマは？」</p>

                        <p>答「１ちゃく２ちゃく」</p>

                        <p>回答用紙を見ながら涙が出た。</p>
                        <br>
                        <br>
                        <br>
                        <p>りんご</p>

                        <p>先生「キャシー、あなたがリンゴを5つ持ってるとするわね？</p>
                        <p>そしてメアリーにリンゴを2つちょうだいといってもらったとします。</p>
                        <p>そのあと私がリンゴを3つちょうだいって言ったら、</p>
                        <p>あなたの持ってるリンゴは一体いくつ？」</p>
                        <p>キャシー「7つです」</p>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <div class="clearfix"> </div>
</div>

